.actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

::ng-deep .mdc-data-table__header-cell:last-child {
    text-align: center !important;
}